@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    /* outline: 1px red solid; */
}

body {
    font-family: 'Noto Sans TC', sans-serif, Arial, Helvetica;
    background-image: url("../img/img-BG-chalkboard.png");
}


/* 捲軸底色 */

body::-webkit-scrollbar-track,
#style-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0);
}

#style-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: rgba(0, 0, 0, .1);
}


/* 捲軸寬度 */

body::-webkit-scrollbar,
#style-scroll::-webkit-scrollbar {
    width: 6px;
}


/* 捲軸本體顏色 */

body::-webkit-scrollbar-thumb,
#style-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(126, 126, 126, 0.5);
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    display: block;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

input[type="button"],
input[type="submit"],
input[type="select"] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #6A1817;
}


/* common spacing */

.index-story,
.index-view,
.index-roomStyle,
.index-contact,
.roomMenu-List,
.roomDetails-mainContent,
.roomDetails-descriptionList,
.bookNow-date,
.bookNow-List {
    margin-top: 240px;
}

.index-contact,
.roomMenu-List,
.roomDetails-roomPic,
.bookNow-List {
    margin-bottom: 240px;
}


/* common title-style*/

.sectionTitle {
    display: flex;
    fill: none;
    color: #FFD9AC;
    stroke: #FFD9AC;
}

.sectionTitle svg {
    flex: 1;
}

.titleLineL {
    margin-right: 16px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}


/* common font */

h3 {
    margin: 0 16px 64px 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 40px;
}

h4 {
    margin-bottom: 40px;
    color: #FFD9AC;
    font-size: 32px;
}

.roomMenu-btnList h4,
.bookNow-roomList h4 {
    padding-bottom: 8px;
    border-bottom: 1px solid #FFD9AC;
    color: #FFF;
}

p {
    color: #E6D6C3;
    font-size: 24px;
    line-height: 1.7;
}

.roomMenu-btnList p,
.roomDetails-descriptionList p,
.bookNow-roomList p {
    color: #FFF;
    font-size: 16px;
}

.material-icons {
    background-color: #CFA378;
    color: #fff;
}

.material-icons.md-48 {
    padding: 4px;
    font-size: 48px;
}


/* common button */

.btn-hexHollow,
.btn-solid,
.btn-imgBG,
.btn-dash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 32px;
    font-size: 24px;
    transition: 1s;
}

.btn-hexHollow {
    width: 251px;
    height: 80px;
    background: url("../img/btn-hollow.svg") no-repeat;
    background-size: contain;
}

.btn-solid {
    width: 384px;
    height: 80px;
    margin-top: 64px;
    background: url("../img/btn-solid.svg") no-repeat;
    background-size: contain;
    transition: .5s;
}

.btn-imgBG {
    border: 2px solid #E0C6A1;
    background: url("../img/btn-imgBG.png") 0% 0% no-repeat;
    background-size: cover;
}

.btn-dash {
    padding: 0 0 8px;
    border-bottom: 1px solid #EAD6B2;
}

@media(max-width: 415px) {
    .btn-solid {
        width: 298px;
        height: 80px;
        background: url("../img/btn-solid-mb.svg") no-repeat;
    }
}

.btn-hexHollow,
.btn-imgBG,
.btn-dash,
.btn-solid-90 {
    color: #EAD6B2;
}

.btn-solid {
    color: #4E2F0B;
}

.btn-hexHollow:hover,
.btn-solid-90:hover {
    -webkit-filter: saturate(200%);
    filter: saturate(200%);
}

.btn-dash:hover {
    padding-left: 8px;
    font-style: italic;
}

.btn-solid:hover {
    transform: scale(1.1);
}

.btn-imgBG:hover {
    -webkit-filter: saturate(200%);
    filter: saturate(200%);
}

.btnTop {
    display: none;
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 99;
    transition: .3s;
}

.btnTop:hover {
    transform: translateY(-5px);
}

.btn-count {
    display: flex;
    margin: 40px auto 0;
}

.btn-count-minus,
.btn-count-plus {
    width: 50px;
    height: 50px;
    background-color: #EAD6B2;
    color: #6A1817;
    font-size: 32px;
    transition: .5s;
}

.btn-count-minus:hover,
.btn-count-plus:hover {
    background-color: #6A1817;
    color: #EAD6B2;
}

.btn-count-numTxt {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #FFF3DB;
    color: #6A1817;
    font-size: 24px;
}


/* common swiper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #fff;
    font-size: 18px;
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: grab;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* common form */

.bookNow-date-form,
.login-form-main {
    padding: 32px;
    border: 1px #E0C6A1 solid;
}

.form-item {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.form-label {
    margin-bottom: 8px;
    color: #ffffff;
    font-weight: bold;
}

.form-input,
.form-select {
    padding: 8px;
    border: 1px solid #FBB265;
    background-color: #FFF3DB;
    color: #4E2F0B;
    font-size: 16px;
}


/* header & banner*/

.header {
    position: relative;
}

h1,
footer {
    padding: 8px 0;
    background: -webkit-linear-gradient(299deg, #CDB892 0%, #F6E3C0 51%, #CDB892 100%);
    background: -moz-linear-gradient(299deg, #CDB892 0%, #F6E3C0 51%, #CDB892 100%);
    background: -o-linear-gradient(299deg, #CDB892 0%, #F6E3C0 51%, #CDB892 100%);
}

.logo,
.footerLogo {
    overflow: hidden;
    width: 108px;
    height: 75px;
    margin: 0 auto;
    background: url("../img/img-logo.svg") no-repeat;
    text-indent: 101%;
    white-space: nowrap;
}

.navFixed {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navBar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: rgba(221, 197, 168, 0.64);
}

.navList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.navList-btn-roomMenu,
.navList-btn-bookNow,
.navList-btn-login {
    padding: 16px 0;
    color: #4E2F0B;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}

.navList-btn-roomMenu:hover,
.navList-btn-bookNow:hover,
.navList-btn-login:hover {
    color: #fff;
}

.banner,
.roomDetails-banner {
    position: relative;
    height: 90vh;
    border-bottom: 3px #E0C6A1 solid;
}


/* login */

.login-window {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -150;
    visibility: hidden;
    overflow: scroll;
    transform: translateX(-20px);
    height: 100vh;
    padding: 8%;
    background-color: rgb(0, 0, 0, .7);
    opacity: 0;
    transition: all .5s;
}

.login-window-fadeIn {
    visibility: visible;
    z-index: 0;
    transform: translateX(0);
    opacity: 1;
}

.btnClose {
    position: absolute;
    top: 16px;
    right: 16px;
}

.login-window>h4 {
    text-align: center;
}

.login-form-main .form-item {
    margin-bottom: 24px;
}

.login-form-main>li:last-child {
    margin-bottom: 0px;
}

.btn-solid-90 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px #E0C6A1 solid;
    background: url("../img/img-BG-chalkboard.png");
    font-size: 24px;
    transition: .2s;
}

.btn-login {
    width: 100%;
    border: 1px #CFA378 solid;
    background-color: #EAD6B2;
    background-image: none;
    color: #4E2F0B;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-container>li {
    width: 48%;
}

@media(max-width:768px) {
    .banner,
    .roomDetails-banner {
        height: 60vh;
    }
}

@media(max-width:415px) {
    .banner,
    .roomDetails-banner {
        height: 45vh;
    }
    .banner-title {
        font-size: 24px;
    }
    .login-window {
        width: 100%;
    }
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 40px 0;
    border-top: 1px rgba(255, 218, 172, 0.3) solid;
    border-bottom: 1px rgba(255, 218, 172, 0.3) solid;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    color: #FFF;
    text-align: center;
    animation-name: wordsAnim;
    animation-duration: 5s;
    transition: .1s;
}

@keyframes wordsAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 0;
}

.footerLogo {
    margin-bottom: 32px;
}

.footerContact li {
    text-align: center;
}

.footerContact>li:first-child {
    margin-bottom: 16px;
}

.footerContact-btnList {
    display: flex;
    justify-content: center;
}

.footerContact-btnList>li:hover {
    cursor: pointer;
    color: #9e6b34;
}

@media(max-width: 415px) {
    .footerContact-btnList {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footerContact-btnList .delimiter {
        display: none;
    }
    .footerContact-btnList>li {
        margin-bottom: 8px;
    }
    .footerContact-btnList>li:last-child {
        margin-bottom: 0px;
    }
}


/* index-main */

.index-story {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.index-story img {
    width: 50%;
}

.index-story-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 160px 32px 0 20px;
}

.index-story-content::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 92%;
    height: 691px;
    border: 1px #E0C6A1 solid;
}

@media(max-width: 768px) {
    .index-story {
        flex-direction: column;
        justify-content: center;
        padding: 160px 0 0 0;
    }
    .index-story img {
        width: 100%;
    }
    .index-story-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-bottom: 64px;
    }
    .index-story-content::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 691px;
        border: 1px #E0C6A1 solid;
    }
}

.index-viewSwiper-item {
    position: relative;
}

.index-viewSwiper-item>h4 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 98;
    margin-bottom: 0;
    padding: 16px 32px;
    color: #E6D6C3;
    font-style: italic;
    -webkit-filter: drop-shadow(2px 2px 10px #000);
    filter: drop-shadow(2px 2px 10px #000);
}

.index-viewSwiper-item img {
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
}

.index-viewSwiper-item img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.index-roomStyle-item1,
.index-roomStyle-item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-roomStyle-item2 {
    flex-direction: row-reverse;
}

.roomStyle-item1-decorativeLine,
.roomStyle-item2-decorativeLine {
    position: relative;
    margin-right: 64px;
    padding: 64px 64px 64px 32px;
    border: 1px #E0C6A1 solid;
}

.roomStyle-item2-decorativeLine {
    margin: 64px 0 0 64px;
    padding: 64px 32px 64px 64px;
}

.roomStyle-item1-decorativeLine::after,
.roomStyle-item2-decorativeLine::after {
    content: "";
    position: absolute;
    top: calc(50% - 12px);
    right: -12px;
    width: 24px;
    height: 24px;
    transform: rotateZ(45deg);
    border: 1px #E0C6A1 solid;
}

.roomStyle-item2-decorativeLine::after {
    left: -12px;
    transform: rotateZ(45deg);
    width: 24px;
    height: 24px;
}

.index-roomStyle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.index-roomStyle-item2 .index-roomStyle-content {
    align-items: flex-end;
}

.index-roomStyle-item2 .index-roomStyle-content {
    text-align: right;
}

.btn-btnToMenu {
    margin: 40px auto 0;
}

@media(max-width:768px) {
    .index-roomStyle-item1,
    .index-roomStyle-item2 {
        display: flex;
        flex-direction: column;
    }
    .roomStyle-item1-decorativeLine,
    .roomStyle-item2-decorativeLine {
        margin-right: 0;
        margin-left: 0;
        padding: 32px 64px 64px;
    }
    .roomStyle-item1-decorativeLine::after,
    .roomStyle-item2-decorativeLine::after {
        top: calc(100% - 12px);
        left: calc(50% - 12px);
    }
    .index-roomStyle-item1 .index-roomStyle-content,
    .index-roomStyle-item2 .index-roomStyle-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin: 64px 0;
        text-align: center;
    }
}

@media(max-width: 415px) {
    .roomStyle-item1-decorativeLine,
    .roomStyle-item2-decorativeLine {
        padding: 8px 16px 16px 16px;
    }
}

.index-contact {
    text-align: center;
}

.index-contact-title {
    margin-bottom: 32px;
}

.index-contact a {
    display: inline;
    color: #E6D6C3;
}

.index-contact li {
    margin-bottom: 16px;
    color: #E6D6C3;
    font-size: 24px;
}

.contact-email a {
    word-break: break-all;
}

.index-contact-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
}

.index-contact-icon li:nth-child(2) {
    margin: 0 48px;
}

.index-contact-icon li:hover {
    -webkit-filter: saturate(200%);
    filter: saturate(200%);
}


/* roomMenu-main */

.roomMenu-btnList-item,
.bookNow-roomList-item {
    position: relative;
    margin-bottom: 40px;
    outline: 1px solid #E0C6A1;
}

.roomMenu-btnList-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.64);
}

@media(max-width:1000px) {
    .roomMenu-btnList-item-content,
    .bookNow-roomList-item-content {
        align-items: center;
        position: static;
        top: 100%;
        width: 100%;
        height: 40%;
        padding: 64px;
        background-color: rgba(34, 28, 28, 0.64);
    }
    .roomMenu-btnList-img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: 30% 60%;
    }
}


/* roomDetails-main */

.roomDetails-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.roomDetails-BnTitle {
    position: absolute;
    right: 10%;
    bottom: 6%;
    z-index: 99;
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: black 0em 0.1em 0.2em;
}

.roomDetails-bookBtnPriceTxt {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.PriceTxt {
    color: #FDCB99;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}

.roomDetails-descriptionList {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 48px 5%;
    border: 1px #E0C6A1 solid;
    color: #FFFFFF;
}

.roomDetails-descriptionList-item {
    width: 40%;
}

.roomDetails-descriptionList h3 {
    display: block;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 2px solid #EAD6B2;
    font-size: 32px;
    font-family: 'Noto Sans TC';
}

.roomDetails-roomPic {
    margin-top: 88px;
}

.roomDetails-roomPicSwiper .swiper-slide {
    width: 404px;
    height: 404px;
}

@media(max-width:768px) {
    .roomDetails-banner-img {
        object-position: 20% 50%;
    }
    .roomDetails-bookBtnPriceTxt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .PriceTxt {
        margin-top: 40px;
    }
}

@media(max-width:415px) {
    .roomDetails-descriptionList {
        flex-direction: column;
        align-items: center;
    }
    .roomDetails-descriptionList-item {
        width: 100%;
    }
    .roomDetails-descriptionList-item:first-child {
        margin-bottom: 48px;
    }
    .roomDetails-BnTitle {
        font-size: 32px;
    }
}


/* bookNow-main */

.bookNow-date-form {
    display: flex;
}

.bookNow-date-form .form-item {
    margin-right: 16px;
}

.bookNow-date-form>li:last-child {
    margin-right: 0;
}

.bookNow-roomList-item-content {
    width: 100%;
    padding: 64px;
    background-color: rgba(0, 0, 0, 0.64);
}

.bookNow-equipment {
    color: #FFF;
}

.bookNow-equipment>li:first-child {
    margin-bottom: 16px;
}

.bookNow-price {
    margin-top: 40px;
    color: #FFD9AC;
    font-size: 24px;
    font-style: italic;
}

@media(max-width:1000px) {
    .bookNow-date-form {
        display: flex;
        flex-direction: column;
    }
    .bookNow-date-form .form-item {
        margin-right: 0;
        margin-bottom: 24px;
    }
    .bookNow-date-form>li:last-child {
        margin-bottom: 0;
    }
    .bookNow-roomList-img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: 30% 60%;
    }
}


/* animated */

.animated-t,
.animated-r,
.animated-b,
.animated-l,
.animated-m {
    opacity: 0;
    transition: all 1.8s;
}

.animated-t {
    transform: translateY(20px);
}

.animated-r {
    transform: translateX(20px);
}

.animated-b {
    transform: translateY(-20px);
}

.animated-l {
    transform: translateX(-20px);
}

.fadeIn {
    transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
}