@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    /* outline: 1px red solid; */
}

body {
    font-family: 'Noto Sans TC', sans-serif, Arial, Helvetica;
    background-image: url("../img/img-BG-chalkboard.png");
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

.roomDetails-banner {
    position: relative;
    width: 100%;
}


/* common spacing */

.index-story,
.index-view,
.index-roomStyle,
.index-contact,
.roomMenu-List,
.roomDetails-mainContent,
.roomDetails-descriptionList,
.bookNow-date,
.bookNow-List {
    margin-top: 240px;
}

.index-contact,
.roomMenu-List,
.roomDetails-roomPic,
.bookNow-List {
    margin-bottom: 240px;
}


/* common title-style*/

.sectionTitle {
    display: flex;
    fill: none;
    stroke: #FFD9AC;
    color: #FFD9AC;
}

.sectionTitle svg {
    flex: 1;
}

.titleLineL {
    margin-right: 16px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}


/* common font */

h3 {
    margin: 0 16px 64px 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 40px;
}

h4 {
    margin-bottom: 40px;
    font-size: 32px;
    color: #FFD9AC;
}

.roomMenu-btnList h4,
.bookNow-roomList h4 {
    color: #FFF;
    padding-bottom: 8px;
    border-bottom: 1px solid #FFD9AC;
}

p {
    font-size: 24px;
    color: #E6D6C3;
    line-height: 1.7;
}

.roomMenu-btnList p,
.roomDetails-descriptionList p,
.bookNow-roomList p {
    font-size: 16px;
    color: #FFF;
}


/* common button */

.btn-hexHollow,
.btn-solid,
.btn-imgBG,
.btn-dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 32px;
    margin-top: 40px;
    transition: 1s;
}

.btn-hexHollow {
    width: 251px;
    height: 80px;
    background: url("../img/btn-hollow.svg") no-repeat;
    background-size: contain;
}

.btn-solid {
    margin-top: 64px;
    width: 384px;
    height: 80px;
    background: url("../img/btn-solid.svg") no-repeat;
    background-size: contain;
    transition: .5s;
}

.btn-imgBG {
    background: url("../img/img-roomINT-pic3.png") 0% 0% no-repeat;
    background-size: cover;
    border: 2px solid #E0C6A1;
}

.btn-dash {
    padding: 0 0 8px;
    border-bottom: 1px solid #EAD6B2;
}

@media(max-width: 415px) {
    .btn-solid {
        width: 298px;
        height: 80px;
        background: url("../img/btn-solid-mb.svg") no-repeat;
    }
}

.btn-hexHollow,
.btn-imgBG,
.btn-dash {
    color: #EAD6B2;
}

.btn-solid {
    color: #4E2F0B;
}

.btn-hexHollow:hover {
    -webkit-filter: saturate(200%);
    /* Safari */
    filter: saturate(200%);
}

.btn-dash:hover {
    padding-left: 8px;
    font-style: italic;
}

.btn-solid:hover {
    transform: scale(1.1);
}

.btn-imgBG:hover {
    -webkit-filter: saturate(200%);
    /* Safari */
    filter: saturate(200%);
}

.btnTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    transition: .3s;
}

.btnTop:hover {
    transform: translateY(-5px);
}

.btn-count {
    display: flex;
    width: 100%;
}

.btn-count-minus,
.btn-count-plus {
    width: 50px;
    height: 50px;
    background-color: #EAD6B2;
    font-size: 32px;
    color: #6A1817;
    transition: .5s;
}

.btn-count-minus:hover,
.btn-count-plus:hover {
    background-color: #6A1817;
    color: #EAD6B2;
}

.btn-count-numTxt {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #FFF3DB;
    color: #6A1817;
    font-size: 24px;
}


/* common form */

.form-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 16px;
}

.form-item>label {
    margin-bottom: 8px;
    color: #4E2F0B;
    font-weight: bold;
}

.form-item>input,
.form-item>select {
    padding: 8px;
    color: #4E2F0B;
    background-color: #FFF3DB;
    border: 1px solid #FBB265;
    font-size: 16px;
}


/* header */

.header {
    position: relative;
}

h1,
footer {
    padding: 8px 0;
    background: -webkit-linear-gradient(299deg, #CDB892 0%, #F6E3C0 51%, #CDB892 100%);
    background: -moz-linear-gradient(299deg, #CDB892 0%, #F6E3C0 51%, #CDB892 100%);
    background: -o-linear-gradient(299deg, #CDB892 0%, #F6E3C0 51%, #CDB892 100%);
}


/* h1 {
    background-size: 200%;
    background-position-x: 100%;
    animation-name: highlightAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: .1s;
}

@keyframes highlightAnim {
    0% {
        background-position-x: 0;
    }
    10% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 50%;
    }
} */

.logo,
.footerLogo {
    margin: 0 auto;
    overflow: hidden;
    width: 108px;
    height: 75px;
    background: url("../img/img-logo.svg") no-repeat;
    text-indent: 101%;
    white-space: nowrap;
}

.navFixed {
    position: fixed;
    top: 0;
    z-index: 100;
    min-width: 100%;
}

.navBar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: rgba(221, 197, 168, 0.64);
}

.navList {
    display: flex;
}

.navList a {
    padding: 16px 80px;
    white-space: nowrap;
    color: #4E2F0B;
    text-align: center;
    font-size: 20px;
}

.navList a:hover {
    color: #fff;
}

.banner img {
    /* width: 100%; */
}

@media(max-width:768px) {
    .navList a {
        padding: 16px 32px;
    }
}

@media(max-width: 415px) {
    .navList a {
        padding: 16px 8px;
    }
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 0;
}

.footerLogo {
    margin-bottom: 32px;
}

.footerContact li {
    text-align: center;
}

.footerContact>li:first-child {
    margin-bottom: 16px;
}

.material-icons {
    background-color: #CFA378;
    color: #fff;
}

.material-icons.md-48 {
    font-size: 48px;
}

.footerContact-btnList {
    display: flex;
    justify-content: center;
}

@media(max-width: 415px) {
    .footerContact-btnList {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footerContact-btnList .delimiter {
        display: none;
    }
    .footerContact-btnList>li {
        margin-bottom: 8px;
    }
    .footerContact-btnList>li:last-child {
        margin-bottom: 0px;
    }
}


/* index-main */

.index-story {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.index-story img {
    width: 50%;
}

.index-story-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 160px 32px 0 20px;
    width: 50%;
}

.index-story-content::after {
    content: "";
    width: 92%;
    height: 691px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px #E0C6A1 solid;
}

@media(max-width:768px) {
    .index-story-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 64px;
        width: 50%;
    }
}

@media(max-width: 415px) {
    .index-story {
        flex-direction: column;
        justify-content: center;
        padding: 160px 0 0 0;
    }
    .index-story img {
        width: 100%;
    }
    .index-story-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 64px;
        width: 100%;
    }
    .index-story-content::after {
        content: "";
        width: 100%;
        height: 691px;
        position: absolute;
        right: 0;
        bottom: 0;
        border: 1px #E0C6A1 solid;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: grab;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-roomStyle-item1,
.index-roomStyle-item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-roomStyle-item2 {
    flex-direction: row-reverse;
}

.roomStyle-item1-decorativeLine,
.roomStyle-item2-decorativeLine {
    border: 1px #E0C6A1 solid;
    margin-right: 64px;
    padding: 64px 64px 64px 32px;
    position: relative;
}

.roomStyle-item2-decorativeLine {
    margin: 64px 0 0 64px;
    padding: 64px 32px 64px 64px;
}

.roomStyle-item1-decorativeLine::after,
.roomStyle-item2-decorativeLine::after {
    content: "";
    border: 1px #E0C6A1 solid;
    position: absolute;
    top: calc(50% - 12px);
    right: -12px;
    width: 24px;
    height: 24px;
    transform: rotateZ(45deg);
}

.roomStyle-item2-decorativeLine::after {
    left: -12px;
    width: 24px;
    height: 24px;
    transform: rotateZ(45deg);
}

.index-roomStyle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.index-roomStyle-item2 .index-roomStyle-content {
    align-items: flex-end;
}

.index-roomStyle-item2 .index-roomStyle-content {
    text-align: right;
}

.btn-btnToMenu {
    margin: 40px auto 0;
}

@media(max-width:768px) {
    .index-roomStyle-item1,
    .index-roomStyle-item2 {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
    .roomStyle-item1-decorativeLine,
    .roomStyle-item2-decorativeLine {
        margin-right: 0;
        margin-left: 0;
        padding: 32px 64px 64px;
    }
    .roomStyle-item1-decorativeLine::after,
    .roomStyle-item2-decorativeLine::after {
        top: calc(100% - 12px);
        left: calc(50% - 12px);
    }
    .index-roomStyle-item1 .index-roomStyle-content,
    .index-roomStyle-item2 .index-roomStyle-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin: 64px 0;
        text-align: center;
    }
}

@media(max-width: 415px) {
    .roomStyle-item1-decorativeLine,
    .roomStyle-item2-decorativeLine {
        padding: 8px 16px 16px 16px;
    }
}

.index-contact {
    text-align: center;
}

.index-contact-title {
    margin-bottom: 32px;
}

.index-contact a {
    display: inline;
    color: #E6D6C3;
}

.index-contact li {
    margin-bottom: 8px;
    color: #E6D6C3;
    font-size: 24px;
}

.index-contact-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
}

.index-contact-icon li:nth-child(2) {
    margin: 0 48px;
}

.index-contact-icon li:hover {
    -webkit-filter: saturate(200%);
    /* Safari */
    filter: saturate(200%);
}


/* roomMenu-main */

.roomMenu-btnList-item,
.bookNow-roomList-item {
    position: relative;
    margin-bottom: 40px;
    outline: 1px solid #E0C6A1;
}

.roomMenu-btnList-item-content,
.bookNow-roomList-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 64px;
    background-color: rgba(0, 0, 0, 0.64);
}


/* roomDetails-main */

.roomDetails-BnTitle {
    position: absolute;
    right: 10%;
    bottom: 10%;
    z-index: 99;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: black 0em 0.1em 0.2em;
}

.roomDetails-bookBtnPriceTxt {
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.PriceTxt {
    font-size: 32px;
    color: #FDCB99;
    font-style: italic;
    font-weight: bold;
}

.roomDetails-descriptionList {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    position: relative;
    border: 1px #E0C6A1 solid;
    padding: 64px;
}

.roomDetails-descriptionList-item {
    width: 40%;
}

.roomDetails-descriptionList h3 {
    display: block;
    font-size: 32px;
    font-family: 'Noto Sans TC';
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 2px solid #EAD6B2;
}

.roomDetails-roomPic {
    margin-top: 88px;
}

.roomDetails-roomPicSwiper .swiper-slide {
    width: 404px;
    height: 404px;
}


/* bookNow-main */

.bookNow-date-form {
    display: flex;
    justify-content: center;
    padding: 48px;
    background: -webkit-linear-gradient(#CDB892, #F6E3C0, #F6E3C0);
    background: -moz-linear-gradient(#CDB892, #F6E3C0, #F6E3C0);
    background: -o-linear-gradient(#CDB892, #F6E3C0, #F6E3C0);
}

.bookNow-equipment {
    color: #FFF;
    margin-bottom: 16px;
}

.bookNow-price {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 24px;
    color: #FFD9AC;
}


/* animated */

.animated-t,
.animated-r,
.animated-b,
.animated-l,
.animated-m {
    opacity: 0;
    transition: all 1.5s;
}

.animated-t {
    transform: translateY(50px);
}

.animated-r {
    transform: translateX(50px);
}

.animated-b {
    transform: translateY(-50px);
}

.animated-l {
    transform: translateX(-50px);
}

.fadeIn {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}